data_sources:
  main:
    url: <%= ENV["BLAZER_DATABASE_URL"] %>

    smart_variables:
      user_deleted_id: "SELECT id, email FROM users WHERE deleted_at > ('0001-01-01'::date)"

    linked_columns:

    smart_columns:

    cache: 120
  blazer:
    url: <%= ENV["DATABASE_URL"] %>

audit: true

user_class: Admin

time_zone: "Brasilia"

from_email: blazer@uhura.io
